.signup{
    width: 600px;
    height: 600px;
    margin: 20px auto;
    border: 0.1px solid black;
    padding: 10px;
}
.form-inline input{
    border: 0.1px solid black;
    height: 40px;
    width: 60%;
    margin: 5px;
    padding: 0 10px;
    font-size: 1.4rem;
}
.btn{
    height: 40px;
    background-color: black;
    border: none;
    min-width: 100px;
    color: azure;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
}
.signup ul{
    list-style: none;
    padding: 0;
    
}
.signup ul li{
    border: 0.1px solid black ;
    justify-content: space-between;
    padding: 5px;

    
}
